<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %d{HH:mm:ss} %c - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.dozer" level="error" />
		<Logger name="org.apache.http" level="info" />
		<Root level="info">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>